

body {
    background-color: #CEEC97;
  }
  h1 {
    color: #A8763E;
    font-family: 'Inter', sans-serif;
  }
  h2 {
    color: #33658A;
    font-family: 'Didact Gothic', sans-serif;
  }
  a {
    color: #4B7F52;
  }
  p{
    color: #020300;
    font-family: 'Inter', sans-serif;
  }
